/.idea
/packages
nuget.config

/xdchat_client/bin
/xdchat_client/obj
/xdchat_client/runtimes

/xdchat_server/bin
/xdchat_server/obj
/xdchat_server/runtimes
/xdchat_server/tls

/xdchat_shared/bin
/xdchat_shared/obj
/xdchat_shared/runtimes

/xdchat_client_wpf/bin
/xdchat_client_wpf/obj
/xdchat_client_wpf/runtimes

xdchat_server.sln.DotSettings.user
